body {
  background-image: linear-gradient(to right, #FF5F6D, #FFC371);
  color: #ffffff;
  font: 1vw Inconsolata, monospace;
  padding: 0 100px;
}

/* SVG styles */
svg {
  width: auto;
  height: auto;
  max-width: 1920px;
  max-height: 1080px;
}

/* Text styles */
text {
  fill: #ffffff;
}

/* Table styles */
table {
  margin: 1 auto;
  width: 100%;
  max-width: 1100px;
}

/* Graph container styles */
.graph-container {
  text-align: center;
  padding: 20px 50px;
}

/* Label styles */
.graph .labels {
  font-size: 16px;
  text-anchor: middle;
}

/* Y-axis label styles */
.graph .labels.y-labels {
  text-anchor: end;
}

/* Graph styles */
.graph {
  width: 100%;
  height: 100%;
  overflow: visible;
}

/* Grid styles */
.graph .grid {
  stroke: #FFC371;
  stroke-dasharray: 5;
  stroke-width: 3;
}

/* Label title styles */
.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  fill: #FF5F6D;
}

/* Data circle styles */
.data square {
  fill: #FFC371;
}

/* Data line styles */
.data line {
  stroke: #2da9a9;
  stroke-width: 3;
}
