body {
  background-image: linear-gradient(to right, #0d0d0e, #191a1d);
  color: #ffffff;
  font-family: "Inconsolata", monospace;
  font-size: 1vw;
  padding: 0 100px;
}

table {
  margin: 1 auto;
  width: 100%;
  max-width: 1100px;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #1a4343;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #191a1d;
}

.user-info {
  text-align: center;
  padding: 20px 50px;
}

.user-info table {
  margin-top: 40px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: #ffb900;
}